


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
</body>
</html>













<div id="id">
  <div class="one-quote" *ngFor="let quote of quotes" >

    <p>Author: {{quote.author}}</p>
    <p>Quote: {{quote.a_quote}}</p>
    <P>created at :{{quote.created_at}}</P>
    <p *ngIf="quote.score >= 1">+{{quote.score}}</p>
    <p *ngIf="quote.score <= 0">{{quote.score}}</p>
    

    <div class="buttons">

      <button (click)="voteUp(quote)">Vote Up</button>
      <button (click)="voteDown(quote)">Vote Down</button>
      <button (click)="delete(quote)">Delete</button>
<hr>
    </div>
  </div>
</div>


