
<div id="main">
    <div id="quote-add">
      <form (submit)="onSubmit()" #formData='ngForm'>
        <label for="author">Author:</label>
        <input type="text" name="author" required minlength="2" [(ngModel)]='quote.author' #author="ngModel">
          <div id="err" *ngIf="author.errors != null">
            <p>Author name must be at least two characters</p>
          </div>
        <label for="a_quote">Quote: </label>
          <textarea name="a_quote"required minlength="2" [(ngModel)]='quote.a_quote' #a_quote="ngModel"></textarea>
        <div id="err" *ngIf="a_quote.errors != null">
          <p>Quote must be at least two characters.</p>
        </div>
        <input type="submit" name="submit" value="Add Quote" [disabled]="formData.invalid">
      </form>
    </div>
    <app-quote-list [quotes]='quotes'></app-quote-list>
  </div>